//COLORS
$color-primary: #1e90ff;
$color-primary-light: #2998ff;
$color-primary-dark: #4534e7;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #7ed56f;
$color-tertiary-dark: #28b485;

$color-html: #e44d26;
$color-css3: #2062af;
$color-sass: #f26394;
$color-javascript: #d6a832;
$color-nodejs: #4caf50;
$color-php: #8f9ed1;
$color-mongodb: #4caf50;
$color-mysql: #de8e3a;

$color-white: #fff;
$color-black: #000;

//FONTS
$default-font-size: 1.6rem;

//GRID WIDTH
$grid-width: 110rem;
$gutter-vertical: 5rem;
$gutter-vertical-lg: 6rem;

$gutter-horizontal-sm: 2rem;
$gutter-horizontal: 4rem;

//BACKGROUND SECTION COLORS
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #e6e6e6e8;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

//SOCIAL ICONS COLORS
$color-facebook: #3b5998;
$color-twitter: #00aced;
$color-instagram: #c32aa3;
$color-github: #3d3a3a;
$color-linkedin: #007bb5;

//OTHERS
// $color-primary: #013336;
// $color-primary-dark: #000046;
