.u-center-text {
  text-align: center !important;
}

//PADDING
.u-pb-xxs {
  padding-bottom: 0.5rem !important;
}
.u-pb-xs {
  padding-bottom: 1rem !important;
}

/*MARGIN*/
.u-mt-lg {
  margin-top: 3.5rem !important;
}
.u-mt-md {
  margin-top: 3rem !important;
}
.u-mt-sm {
  margin-top: 2.5rem !important;
}
.u-mt-xs {
  margin-top: 1rem !important;
}

.u-mb-xs {
  margin-bottom: 1rem !important;
}
.u-mb-sm {
  margin-bottom: 2.5rem !important;
}
.u-mb-md {
  margin-bottom: 4rem !important;
}
.u-mb-lg {
  margin-bottom: 6rem !important;
}

.u-fs-md {
  font-size: 2rem;
}

//WIDTHS
.u-width-md {
  width: 60%;
  margin: 0 auto;

  @include respond(phone) {
    width: 70%;
  }
}

.u-width-sm {
  width: 55%;
  margin: 0 auto;

  @include respond(phone) {
    width: 70%;
  }
}

.u-width-lg {
  width: 80%;
  margin: 0 auto;
}

//COLORS
.u-color-white {
  color: $color-white !important;
}
.u-color-sass {
  color: #f26394 !important;
  border-bottom: 1px solid #f26394 !important;
}

.u-color-sass-hover {
  &:hover {
    color: $color-white !important;
    background-color: #f26394 !important;
  }

  @include respond(tab-port) {
    color: $color-white !important;
    background-color: #f26394 !important;
  }
}

.u-color-html {
  color: #e44d26 !important;
  border-bottom: 1px solid #e44d26 !important;
}

.u-color-html-hover {
  &:hover {
    color: $color-white !important;
    background-color: #e44d26 !important;
  }

  @include respond(tab-port) {
    color: $color-white !important;
    background-color: #e44d26 !important;
  }
}

.u-color-css3 {
  color: #2062af !important;
  border-bottom: 1px solid #2062af !important;
}

.u-color-css3-hover {
  &:hover {
    color: $color-white !important;
    background-color: #2062af !important;
  }

  @include respond(tab-port) {
    color: $color-white !important;
    background-color: #2062af !important;
  }
}

.u-color-javaScript {
  color: #d6a832 !important;
  border-bottom: 1px solid #d6a832 !important;
}

.u-color-javaScript-hover {
  &:hover {
    color: $color-white !important;
    background-color: #d6a832 !important;
  }

  @include respond(tab-port) {
    color: $color-white !important;
    background-color: #d6a832 !important;
  }
}

.u-color-nodejs {
  color: #4caf50 !important;
  border-bottom: 1px solid #4caf50 !important;
}

.u-color-nodejs-hover {
  &:hover {
    color: $color-white !important;
    background-color: #4caf50 !important;
  }

  @include respond(tab-port) {
    color: $color-white !important;
    background-color: #4caf50 !important;
  }
}

.u-color-php {
  color: #8f9ed1 !important;
  border-bottom: 1px solid #8f9ed1 !important;
}

.u-color-php-hover {
  &:hover {
    color: $color-white !important;
    background-color: #8f9ed1 !important;
  }

  @include respond(tab-port) {
    color: $color-white !important;
    background-color: #8f9ed1 !important;
  }
}

.u-color-mysql {
  color: #de8e3a !important;
  border-bottom: 1px solid #de8e3a !important;
}

.u-color-mysql-hover {
  &:hover {
    color: $color-white !important;
    background-color: #de8e3a !important;
  }

  @include respond(tab-port) {
    color: $color-white !important;
    background-color: #de8e3a !important;
  }
}

.u-color-mongodb {
  color: #4caf50 !important;
  border-bottom: 1px solid #4caf50 !important;
}

.u-color-mongodb-hover {
  &:hover {
    color: $color-white !important;
    background-color: #4caf50 !important;
  }

  @include respond(tab-port) {
    color: $color-white !important;
    background-color: #4caf50 !important;
  }
}
